<div class="panel panel-default">
  <div class="panel-heading">
    <span>Basic Statistics</span>
  </div>
  <div class="panel-body">
    <div class="form-inline">
      <div class="form-group">
        <label for="location">Location:</label> 
        <select class="form-control" id="location">
          <option value="DPWellness">DPWellness</option>
        </select>
      </div>
      <div class="form-group">
        <label for="attribute">Attribute:</label> 
        <select class="form-control" id="attribute">
          <option value="dailyNumber">Daily</option>
          <option value="monthlyNumber">Monthly</option>
          <option value="totalNumber">Total</option>
          <option value="occupancy">Occupancy</option>
        </select>
      </div>
      <div class="form-group">
        <label for="start-date">Start Date:</label> 
        <div class='input-group date' id='start-date'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="end-date">End Date:</label> 
        <div class='input-group date' id='end-date'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="weekday">Weekday:</label> 
        <select class="form-control" id="weekday">
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="7">Sunday</option>
        </select>
      </div>
      <button class="btn btn-default" ng-click="plotChart()">Plot</button>
    </div>
    <hr>
    <div google-chart chart="chartObject" style="width:100%; height:500px;"></div>
  </div> <!-- /.panel-body -->
</div> <!-- /.panel -->

<script>
$(function() {
  $('#start-date').datetimepicker({format: 'MM/DD/YYYY'});
  $('#end-date').datetimepicker({format: 'MM/DD/YYYY'});
  $('#start-time').datetimepicker({format: 'HH:mm'});
  $('#end-time').datetimepicker({format: 'HH:mm'});
});
</script>
